@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100..900&display=swap');

:root {
	--deep-brown: #5c3a29;
	--dark: #101010;
	--medium-brown: #a0522d;
	--light-brown: #d9bba0;
	--beige: #e4cfcf;
	--white: #f7f0f0;
	--chill-brown: #f3e0cf;
}

body {
	font-family: Raleway, sans-serif;
	display: flex;
	flex-direction: column;
	background-color: var(--white);
	color: var(--dark);
}

header {
	display: flex;
	justify-content: space-between;
}

header {
	display: flex;
	justify-content: space-between;
	background-color: var(--light-brown);
	padding: 1.2rem 3rem;
	margin: 1.4rem 0.8rem;
	border-radius: 1rem;
}

header h1 {
	font-size: 3rem;
}

header > div:nth-child(2) {
	display: flex;
	gap: 1.6rem;
	align-items: center;
}

header > div:nth-child(2) > div:last-child {
	display: flex;
	gap: 0.5rem;
}
header div.divider {
	width: 1px;
	height: 65%;
	background-color: var(--dark);
}

/* Styling for the search bar */
input[type='search'] {
	border-radius: 1.6rem;
	background-image: url('./assets/search.svg');
	background-size: 2rem;
	background-position: 0.7rem 0.7rem;
	background-repeat: no-repeat;
	background-color: var(--white);
	width: 3.3rem;
	min-height: 3.3rem;
	height: auto;
	border: none;
	transition: width 0.7s ease-in-out, height 0.7s ease-out;
}

input[type='search']:hover,
input[type='search']:focus {
	width: 40rem;
	background-position: 0.7rem 0.7rem;
	transition: width 0.7s ease-in-out, height 0.7s ease-in-out;
	padding-left: 3.7rem;
}

input[type='search']:focus {
	outline: 2px solid var(--dark);
	padding-left: 3.7rem;
}

.logo {
	display: flex;
	gap: 1rem;
	align-items: center;
}

.logo img {
	width: 3.4em;
}

/* Centers page items when the loading icon or the landing page text are present in the page */
main:has(> .onload),
main:has(> .loader) {
	font-size: 5rem;
	display: grid;
	place-content: center;
	height: 60vh;
}

.cards {
	display: grid;
	padding: 2rem;
	gap: 3rem;
	justify-items: center;
	grid-template-columns: repeat(auto-fill, minmax(32rem, 1fr));
}
.card {
	border: 3px solid var(--deep-brown);
	position: relative;
	border-radius: 6px;
	min-height: 44rem;
	padding: 1.2rem;
	display: grid;
	justify-self: stretch;
	grid-template-columns: 17rem 1fr;
	grid-template-rows: minmax(28rem, 33rem);
	background-color: var(--chill-brown);
}

.card img {
	flex: initial;
	place-self: center;
	max-height: 240px;
}

.card div :first-child {
	text-align: center;
	font-weight: bold;
}

.description {
	grid-column: 1/-1;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.card {
	transition: height 1s;
}

.description button {
	border: none;
	position: absolute;
	bottom: 1rem;
	cursor: pointer;
	background: none;
	border-radius: 10px;
	backdrop-filter: blur(2px);
	width: 95%;
}

.loader {
	border: 16px solid var(--light-brown);
	border-top: 16px solid var(--dark);
	border-radius: 50%;
	width: 120px;
	height: 120px;
	animation: spin 1.2s linear infinite;
	place-self: center;
}

/* Animation for the loading icon */
@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
